*{
    margin: 0px;
}

html{
    height: 100%;
    #0046ae, #9198e5
}

body{
    background-image: linear-gradient(#0046ae,#9198e5);
}

bigpart -> {
    height: 400px;
    width: 270px;
    rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674)
}

while mouseover -> {
   rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792)
}


music player part ->{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

song and the song writers -> {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


song writers -> {
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

song writers while mouseover{
    color: #2e2e2e;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.back
.for
.play while mouseover -> {
    border-color: #bebebe;
}

.kol{
    width: 300px;
    height: 420px;
    background-image: linear-gradient(rgba(171,179,192,0.694),rgba(220, 234, 248, 0.674));
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 50px #000000;
    border-radius: 20px;
}

div:hover{
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));
}

img{
    border-radius: 5px ;
    width: 200px;
    height: 200px;
    margin: 36px;
    margin-top: 14px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-left: 50px;
}

.text1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    margin: auto;
}

.text1{
    margin-left: 100px;
    margin-right: 90px;
    padding-top: 10px;
}

.text2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    margin: auto;
}

.text2{
    margin-left: 115px;
    margin-right: 100px;
    padding-top: 0px;
}

.text3{
    margin-left: 85px;
    margin-right: 70px;
    margin-top: 2px;
    color: #666666;
    font-size: smaller;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
    cursor: pointer;
}

.text3:hover{
    color:#2e2e2e;
}

input[type="range"] {
    width: 230px;
    margin-left: 32px;
    margin-top: 3px;
}

.time{
    color: white;
    margin-left: 20px;
    margin-top: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.back:hover,
.for:hover,
.play:hover{
    cursor: pointer;
    border-color: #bebebe;
}

.back,
.play,
.for{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: #ffffff;
}

ul{
    margin-left: -5px;
    padding-top: 12px;
}

li{
    padding: 12px;
    display: inline;
}